<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ADDING BOOTSTRAP  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <title>Weather App</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    
    {{>navber}}

    <!-- main-header  -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- letf side header  -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather App</p>
              <h1>Get The Latest <span>Weather info</span>  of Your City</h1>
              <a href="/weather"><button>Check now</button></a>
            </div>
            <!-- right side header  -->
            <div class="col-md-6 col-12 main_header_right">
              <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://img.freepik.com/free-vector/weather-concept-illustration_114360-7370.jpg?size=626&ext=jpg" class="w-100" alt="..." />
                  </div>
                  <div class="carousel-item">
                    <img src="https://img.freepik.com/free-vector/weather-concept-illustration_114360-1234.jpg?size=626&ext=jpg" class="w-100" alt="..." />
                  </div>
                  <div class="carousel-item">
                    <img src="https://img.freepik.com/free-vector/online-weather-forecast-smartphone-screen-isometric-composition-with-female-character-presenter-blue-background-3d-vector-illustration_1284-69840.jpg?size=626&ext=jpg" class="w-100" alt="..." />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer code  -->
    <footer>
        <p>Designed by Sukalyan || FullStack Web Developer</p>
    </footer>
  </body>
</html>
